{% extends "base.html" %}
{% block title %}Correspondence{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="d-lg-block" , style="min-height: 90vh; overflow-x:hidden; overflow-y: auto;">
                <div style="max-height:90vh; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Component Name</th>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Role/Purpose</th>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Interfaces</th>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Dependencies</th>
                                <th scope="col" class="col-2 text-center"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Component Type</th>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;"></th>
                            </tr>
                        </thead>
                        <tbody id="componentTable"></tbody>
                    </table>
                </div>

                <form class="row gx-1 mb-3 align-items-center" onsubmit="handleComponentCreation(event)">
                    <div class="col-2">
                        <input type="text" class="form-control" name="name" placeholder="Component Name" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" name="role" placeholder="Role/Purpose" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" name="interfaces" placeholder="Interfaces" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" name="dependencies" placeholder="Dependencies" required>
                    </div>
                    <div class="col-2 text-center">
                        <input type="hidden" name="isNonCodeComponent" id="isNonCodeComponent" value="false">
                        <button type="button" class="btn btn-primary" id="codeComponentBtn" title="Code Component"
                            onclick="setEditComponentType(false)">
                            <i class="bi bi-code"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="nonCodeComponentBtn"
                            title="Non-Code Component" onclick="setEditComponentType(true)">
                            <i class="bi bi-file-earmark-bar-graph"></i>
                        </button>
                    </div>
                    <div class="col-2 d-flex justify-content-center ps-1 pe-2">
                        <button type="submit" class="btn btn-primary w-50" title="Add">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-between align-items-center d-block">
            <div class="w-100 mb-3">
                <h2>Correspondence</h2>
                <p class="lead">
                    The correspondence phase ensures that components identified in each viewpoint are
                    semantically aligned and traceable across concerns. Rather than enforcing one-to-one mappings, it
                    applies a set of standardized correspondence rules that preserve consistency and coherence between
                    viewpoints. The components that don't comply with these correspondence rules should be removed from
                    the list. Additionally, the resulting filtered components should be classified as either code or
                    non-code
                    components, which is required for the next phase.
                </p>
                <ul>
                    <li>Review the list of candidate components to the left. For each component:
                        <ul>
                            <li>Check if it complies with the correspondence rules below. If not, remove it from the
                                list.
                            </li>
                            <li>Edit the component details if necessary to ensure clarity and consistency.</li>
                            <li>Classify each component as either a <i class="bi bi-code"></i> <strong>Code
                                    Component</strong> or <i class="bi bi-file-earmark-bar-graph"></i> <strong>Non-Code
                                    Component</strong> using the buttons provided.</li>
                        </ul>
                    </li>
                    <li>Use the table to add, edit, or delete components as needed.</li>
                    <li>When finished, proceed to the next phase using the button at the bottom of the page.</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center pb-3" , style="max-height: 50vh;">
                <img src="{{ url_for('static', filename='img/correspondence_table.PNG') }}" alt="Correspondence Table"
                    class="img-fluid border rounded h-100 w-100"
                    style="object-fit: contain; min-height: 0; min-width: 0;" id="diagram-preview">
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light bg-white fixed-bottom m-0">
        <div class="container-fluid justify-content-center text-center">
            <a href="{{ url_for('modularity.codeComponents') }}" class="btn btn-success mx-1" ,
                onclick="return confirm('Are you sure? You will not be able to edit this intermediate result or return to this phase. Instead you will proceed to the next phase.');">
                Go to Code Component Modularity Level Phase
            </a>
        </div>
    </nav>
</div>

<script>
    window.APP_CONFIG = {
        viewpoint: "Correspondence",
    };
</script>

<script src="{{ url_for('static', filename='js/localStorageDao.js') }}"></script>
<script src="{{ url_for('static', filename='js/componentController.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadComponentsFromLocalStorage();
    });
</script>

{% endblock %}