{% extends "base.html" %}
{% block title %}{{viewpoint}} Viewpoint Analysis{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="d-lg-block" , style="min-height: 90vh; overflow-x:hidden; overflow-y: auto;">
                <div style="max-height:90vh; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Component Name</th>
                                <th scope="col" class="col-3"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Role/Purpose</th>
                                <th scope="col" class="col-3"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Interfaces</th>
                                <th scope="col" class="col-3"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Dependencies</th>
                                <th scope="col" class="col-1"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for component in components %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>{{ component.role }}</td>
                                <td>{{ component.interfaces }}</td>
                                <td>{{ component.dependencies }}</td>
                                <td class="text-center">
                                    <form method="POST"
                                        action="{{ url_for('viewpoints.delete_component', index=loop.index0) }}">
                                        <button type="submit" class="btn btn-danger w-50" title="Delete">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <form class="row gx-1 mb-3 align-items-center" method="POST"
                    action="{{ url_for('viewpoints.add_component') }}">
                    <div class="col-2">
                        <input type="text" class="form-control" name="name" placeholder="Component Name" required>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" name="role" placeholder="Role/Purpose" required>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" name="interfaces" placeholder="Interfaces" required>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" name="dependencies" placeholder="Dependencies" required>
                    </div>
                    <div class="col-1 d-flex justify-content-center ps-1 pe-2">
                        <button type="submit" class="btn btn-primary w-50" title="Add">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="d-block d-lg-none">
                <div style="overflow-y: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-4"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Component Name</th>
                                <th scope="col" class="col-4"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;">Role/Purpose</th>
                                <th scope="col" class="col-4"
                                    style="position: sticky; top: 0; background: #fff; z-index: 2;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for component in components %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>{{ component.role }}</td>
                                <td class="text-center">
                                    <form method="POST"
                                        action="{{ url_for('viewpoints.delete_component', index=loop.index0) }}">
                                        <button type="submit" class="btn btn-danger w-50" title="Delete">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <form class="row gx-1 mb-3 align-items-center" method="POST"
                    action="{{ url_for('viewpoints.add_component') }}">
                    <div class="col-4">
                        <input type="text" class="form-control" name="name" placeholder="Component Name" required>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" name="role" placeholder="Role/Purpose" required>
                    </div>
                    <div class="col-4 d-flex justify-content-center ps-1 pe-2">
                        <button type="submit" class="btn btn-primary w-50" title="Add">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-between align-items-center d-block">
            <div class="w-100 mb-3">
                <h2>{{viewpoint}} Viewpoint</h2>
                <p class="lead">
                    {{description}}
                </p>
                <ul>
                    <li>For each condidate component, describe these aspects:</li>
                    <ul>
                        <li><strong>Name</strong> A unique, descriptive identifier.</li>
                        <li><strong>Role/Purpose</strong> A short explanation of its functionality.</li>
                        <li><strong>Interfaces</strong> Inputs/outputs or interaction points.</li>
                        <li><strong>Dependencies</strong> Required formats, tools, platforms, or runtime
                            assumptions.</li>
                    </ul>
                    </li>
                    <li>The table on the left can be used to add, edit, or delete potential components.</li>
                    <li>Stored components will be retrieved in the subsequent phases.</li>
                </ul>
            </div>
            <div class="w-100 d-flex justify-content-center pb-3">
                <img src="{{ url_for('static', filename='img/no_diagram_placeholder.jpg') }}" alt="No diagram available"
                    class="img-fluid border rounded h-100 w-100"
                    style="object-fit: contain; min-height: 0; min-width: 0;" id="diagram-preview">
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light bg-white fixed-bottom m-0">
        <div class="container-fluid justify-content-center text-center">
            <a href="{{ url_for('viewpoints.scienceAnalysis') }}"
                class="btn {% if viewpoint == 'Science' %}btn-primary disabled{% else %}btn-outline-primary{% endif %} mx-1">
                Science
            </a>
            <a href="{{ url_for('viewpoints.informationAnalysis') }}"
                class="btn {% if viewpoint == 'Information' %}btn-primary disabled{% else %}btn-outline-primary{% endif %} mx-1">
                Information
            </a>
            <a href="{{ url_for('viewpoints.computationalAnalysis') }}"
                class="btn {% if viewpoint == 'Computational' %}btn-primary disabled{% else %}btn-outline-primary{% endif %} mx-1">
                Computational
            </a>
            <a href="{{ url_for('viewpoints.engineeringAnalysis') }}"
                class="btn {% if viewpoint == 'Engineering' %}btn-primary disabled{% else %}btn-outline-primary{% endif %} mx-1">
                Engineering
            </a>
            <a href="{{ url_for('viewpoints.technologyAnalysis') }}"
                class="btn {% if viewpoint == 'Technology' %}btn-primary disabled{% else %}btn-outline-primary{% endif %} mx-1">
                Technology
            </a>
        </div>
    </nav>
</div>

<script src="{{ url_for('static', filename='util/local_storage_dao.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const image_name = "{{ viewpoint }}_image";
        const image = get_image_from_local_storage(image_name);
        if (image) {
            document.getElementById('diagram-preview').src = image;
        } else {
            let artifactUrl = '';
            switch ("{{ viewpoint }}") {
                case 'Science':
                    artifactUrl = "{{ url_for('viewpoints.scienceArtifact') }}";
                    break;
                case 'Information':
                    artifactUrl = "{{ url_for('viewpoints.informationArtifact') }}";
                    break;
                case 'Computational':
                    artifactUrl = "{{ url_for('viewpoints.computationalArtifact') }}";
                    break;
                case 'Engineering':
                    artifactUrl = "{{ url_for('viewpoints.engineeringArtifact') }}";
                    break;
                case 'Technology':
                    artifactUrl = "{{ url_for('viewpoints.technologyArtifact') }}";
                    break;
            }
            if (artifactUrl) {
                window.location.href = artifactUrl;
            }
        }
    });
</script>

{% endblock %}